.novo{
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 888;
	display: none;
}
textarea,input{
	border: none;
	color: #EEE;
	border-bottom:none !important;
	font-size: 30px !important;
	font-weight: 300;
}

::-webkit-input-placeholder{
	color: #aaa !important;
}